/* my practice on the hover button */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 2, 44);
}
.div1{
    width: 100%;
    height: 60vh;
    background-color: white;
}
.div_but1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_but1 button{
    background: rgb(22, 87, 226);
    border: solid 1px rgb(57, 55, 55);
    border-radius: 6rem;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    transition: 0.5s;
}

.div_but1 button:hover{
    font-size: 2.5rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 1px 3px 1px rgb(53, 51, 51);
    background-image: linear-gradient( 45deg, rgb(14, 33, 98) , rgb(41, 41, 223), rgb(61, 68, 141), rgb(40, 37, 37)); ;
}
/*//////*/
.hr-3{
    box-shadow: 0 2px 5px 2px rgb(155, 17, 17);
    padding: 0;
    border: none;
    border-top: 2px double #123456;
    color: #000;
    text-align: center;
}
.div2{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.div2_a{
    text-decoration: none;
    display: inline-block;
    font-size: 2.5rem;
    color: gray;
    position: relative;
    background: rgb(1, 4, 63);
    padding: 10px 30px ;
    letter-spacing: 0.1;
    text-transform: uppercase;
    transition: 0.5s;
}
.div2_a:hover{
    color: #00eeff;
    letter-spacing: 0.25em;
}
.div2_a span{
    position: absolute;
    display: block;
    background: #00eeff;
}
.div2_a span:nth-child(1){
    left: 0;
    top: 0;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: 0.5s;
}
.div2_a:hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: right;
    
}
















